<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1> {{contact.name}} </h1>
      <img [src]="contact.imageUrl" alt="{{contact.name}}" class="img-responsive" style="max-height: 300px;">
      <div class="btn-toolbar">
        <a [routerLink]="['contact', contact.id, 'edit']" class="btn btn-primary pull-right">edit</a>
        <a class="btn btn-danger pull-right" (click)="onDelete()">delete</a>
      </div>
    </div>
    <div class="panel-body">
      <p>Email: {{contact.email}}</p>
      <p>Phone: {{contact.phone}}</p>
    </div>
  </div>
</div>
